

*{
 box-sizing: border-box;
}
a{
  color: #FFFFFF;
  text-decoration: none;
}
h3{
  text-align: center;
}
li:hover {
	background-color: #FFCC00;
	text-decoration: inherit;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header{
  display: flex;
  justify-content: space-between;
    height:75px;
    width:100vw;
     box-shadow: 0 0 8px gray;
}
ul{
  display: flex;
  justify-content: space-between;
  height:30px;
  width:500px;

}
li{
  background-color: #FF9900;
  list-style: none;
  height:100%;
  width:100px;
  text-align: center;
  padding-top: 5px;
}
body{
  height:100vh;
  width: 100vw;

}
.work-box{

  height:300px;
  width:400px;
  margin-top:20px;
}
.work-box__thumbnail{
  padding-left: 125px;
  width:550px;
  /* padding-right: 150px; */
}
/* .work-box__description{
  widh:1000px;
} */
.top-image{
  /* background-color: #FFFFFF; */
  height:calc(100vh - 75px);
  width:100vw;
  background: cover;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0f1a3a32-d741-42a4-83d2-0fede999590b/d1d9x6f-2fba1955-9bc9-40fc-bad2-21aacae9cffe.jpg/v1/fill/w_900,h_655,q_70,strp/blue_sky_by_cattycass_d1d9x6f-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjU1IiwicGF0aCI6IlwvZlwvMGYxYTNhMzItZDc0MS00MmE0LTgzZDItMGZlZGU5OTk1OTBiXC9kMWQ5eDZmLTJmYmExOTU1LTliYzktNDBmYy1iYWQyLTIxYWFjYWU5Y2ZmZS5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.DhCs2giPMpUBcnmFf2JHelliMUmbt_Kfqhw3vkycdK4");
  background-repeat: no-repeat;
  background-size:cover;
    background-attachment: fixed;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.title-message{
  padding-top: 20px;
  font-size: 30px;
  color:#FFFFFF;
}


/* ロゴフォントオーサム */
.fab.fa-html5{
  font-size: 100px;
}
.fab.fa-css3-alt{
 font-size: 100px;
}

.fab.fa-js-square{
  font-size:100px;
}

.fab.fa-github{
  font-size: 100px;
}

.fab.fa-react{
  font-size: 100px;
}
.fas.fa-atom{
  font-size: 100px;
}
.profile-page{
  padding:20px;
   box-shadow: 0 0 8px gray;
   border-radius: 20px;
  margin:50px auto;
  height:100%;
  width:700px;

}
.profile-content{
  padding:0 auto;
}
/* スキルページ */
.skill-page{
  padding-left:0px;
}

.imageSize {
  height:250px;
  width: 400px;
  background: #ff006a;
  color: #fff;
  transition: all .5s;
}

.imageSize :hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  opacity: 0.7;
}
