*{
 box-sizing: border-box;
}
a{
  color: #FFFFFF;
  text-decoration: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header{
  display: flex;
  justify-content: space-between;
    height:75px;
    width:100vw;
     box-shadow: 0 0 8px gray;
}
ul{
  display: flex;
  justify-content: space-between;
  height:30px;
  width:500px;

}
li{
  background-color: #FF9900;
  list-style: none;
  height:100%;
  width:100px;
  text-align: center;
  padding-top: 5px;
}
body{
  height:100vh;

}
.main-content{
  margin: 0 auto;
    background-color: #F5F5F5;
}
